
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2 class="my-4">Hakkımda</h2>
</div>
<div class="row">
    Ben lise, üniversitede aldığım eğitim ile oluşturduğum yazılım temelim ile Bilge Adam'dan aldığım eğitim ile temelimi sağlamlaştırdım ve üstüne koyarak kendimi geliştirmeye devam ediyorum.
</div>
