
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2 class="my-4">İletişim</h2>
</div>

<div>
    <span style="font-weight:bold">E-Mail: </span>ilker.dagcii@gmail.com<br /><br />
    <span style="font-weight:bold">Cep No: </span>(0541)384 64 14
</div>
